@import "tailwindcss";

.scroll-none{
    overflow: hidden;
}

.drop-shadow-5xl{
    filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.2));
}

/* .playBtn{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} */